.app {
  max-width: 1010px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 32px;
}

.app__container {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 17px;
}

.ant-tabs > .ant-tabs-nav, .ant-tabs > div > .ant-tabs-nav {
  margin: 0 auto;
  width: 146px;
}

.search-pannel {
  margin-bottom: 30px;
}