/*.moveie-list-items {
  background-color: #fff;
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  gap: 36px 37px;
  margin: 0px;
  padding: 0px 20px;
}*/

.moveie-list-items {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, minmax(245px, 1fr)); 
  grid-column-gap: 51px;
  grid-row-gap: 37px;
  margin-bottom: 37px;
  /*gap: 36px 37px;*/
}

@media (max-width: 950px){
  .moveie-list-items {
    grid-template-columns: repeat(1, minmax(245px, 1fr)); 
  }
}

.moveie-list-items--center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moveie-list-items--error {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.movei-list-items__no-result{
  width: 70%;
  height: 70%;
}

.ant-pagination {
  display: flex;
  justify-content: center;
}