/*.moveie-list-items {
  background-color: #fff;
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  gap: 36px 37px;
  margin: 0px;
  padding: 0px 20px;
}*/

.moveie-list-items {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-column-gap: 51px;
  grid-row-gap: 37px;
  /*gap: 36px 37px;*/
}

.moveie-list-items--loading {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}